<html>

   <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>      
  
   <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143664123-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-143664123-1');
</script>
<title>
About Lokly
</title>
   </head>
	<style>
		@import url(https://fonts.googleapis.com/css?family=Roboto);

    html {
      position: relative;
      min-height: 100%;
    }
	
body{
  font-family: 'Roboto', sans-serif;
  padding-bottom: 60px; /* Margin bottom by footer height */
  color:#000000;
  
}


div {
    display: block;
}


.fontRoboto{
font-family: Roboto;
}

a{
	color : black;
	text-decoration: none;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #D9D9D9;
}
	
    .head {
      font-size: 50px;
    }
span { 
max-width:600px;
border:1px solid #dddddd;
  display: inline-block; 
  background-color: #FFFFFF; 
    border-radius: 15px;

}

</style>
  <!-- Header -->

	<body>
	<div id='logged_out'>
	<div class="d-flex">
  <div class="mr-auto p-2"><a href="\"><img src="/static/logo.png" style='height:80px; width:80px;' alt="logo"></a></div>
  <div class="p-2"><a href="\loginpage">Login</a></div>
  <div class="p-2"><a href="\signup" >Sign Up</a></div>
</div>
</div>

	<div id='logged_in' style='display:none'>
	<div class="d-flex">
  <div class="mr-auto p-2"><a href="\"><img src="/static/logo.png" style='height:80px; width:80px;' alt="logo"></a></div>
  <div class="p-2" id='namebar'></div>
  <div class="p-2" id='Logout'><button style='background-color:white; border:none'>Logout </button>
  </div>
</div>
</div>
	  <br>
	  <br>
  <div class="container text-center" >
    <div class="col-md-12">
	<span class='border'>
      <div class="head">
         About Us
      </div>
	  <br>
      <div class="row">
        <div class="mr-auto"  style='text-align:justify ; padding:30px;' >
    
<h4 align='center'>Lokly the Indian Address Parser</h4> 

Addresses often provide a significant amount of intelligence about the buying and spending habits of a consumer.  In most cases this intelligence cannot be determined from the address as most of the addresses are free flowing text and are not easily parsed.  Faced with these challenges we have created an address parser exclusively for Indian addresses. Lokly the Indian address parser helps you parse an address contained in a free flowing string.  Divide a single address (as string) into separate component parts : house number, street type (bd, street, ..), street name, unit (apt, batiment, ...), zipcode, state, country, city etc. 

Soon we would be adding intelligence around the neighborhoods to help you determine the economic value of the addresses. 
<br>
<br>
<h4 align='center'>What is parser based on?</h4>  

The parser is based on natural language processing, parsing technology, and text mining. 
          </div>
          </div>
		  </span>
          </div>
          </div>
  </body>
<br>

  <footer class="footer">
    <div class="container-fluid d-flex justify-content-around text-center">
        <a href='\about' >About Us</a>
        <a href='\contact'>Contact Us</a>
        <a href='#' >Terms and Conditions</a>

    </div>
  </footer>



      <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

  <script type="text/javascript">


    $('#Logout').click(function(){
     $.ajax({
          url: "/_logout",
          type: "GET",
          success: function(resp){
      sessionStorage.setItem("app_user",'Guest');
      $('#searches').html('You have consumed '+resp.queries+' out of '+resp.limit+' searches.');
      $('#logged_in').hide();
      $('#logged_out').show();
      $('div#Address_output').html('');
      document.getElementById("search").value = '';
          
          }
      });
    });

		var user = sessionStorage.getItem("app_user");
	  if (user!='Guest' && user!=null)
	  {
        $.ajax({
            url: "/refresh?&user_id="+user,
            type: "GET",
            success: function(resp){
				if (resp.data)
				{
				$('#Login_error').html(resp.data);
				$('#Login_error').show();
				
				}				
				else				
				{
      $('#searches').html('You have consumed '+resp.queries+' out of '+resp.limit+' searches. ');
      $('#Login_error').hide();
      $('#logged_in').show();
      $('#logged_out').hide();
      $('#namebar').html(resp.name);
				}


            }
        });
    };

  </script>
  </body>
   
</html>